WebApplication3/Web References/vn.edu.saigonact.thionline/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="topusers">
        <s:complexType />
      </s:element>
      <s:element name="topusersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="topusersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Showusers">
        <s:complexType />
      </s:element>
      <s:element name="ShowusersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowusersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="topusersSoapIn">
    <wsdl:part name="parameters" element="tns:topusers" />
  </wsdl:message>
  <wsdl:message name="topusersSoapOut">
    <wsdl:part name="parameters" element="tns:topusersResponse" />
  </wsdl:message>
  <wsdl:message name="ShowusersSoapIn">
    <wsdl:part name="parameters" element="tns:Showusers" />
  </wsdl:message>
  <wsdl:message name="ShowusersSoapOut">
    <wsdl:part name="parameters" element="tns:ShowusersResponse" />
  </wsdl:message>
  <wsdl:message name="topusersHttpGetIn" />
  <wsdl:message name="topusersHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ShowusersHttpGetIn" />
  <wsdl:message name="ShowusersHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="topusersHttpPostIn" />
  <wsdl:message name="topusersHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ShowusersHttpPostIn" />
  <wsdl:message name="ShowusersHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="topusers">
      <wsdl:input message="tns:topusersSoapIn" />
      <wsdl:output message="tns:topusersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Showusers">
      <wsdl:input message="tns:ShowusersSoapIn" />
      <wsdl:output message="tns:ShowusersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpGet">
    <wsdl:operation name="topusers">
      <wsdl:input message="tns:topusersHttpGetIn" />
      <wsdl:output message="tns:topusersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Showusers">
      <wsdl:input message="tns:ShowusersHttpGetIn" />
      <wsdl:output message="tns:ShowusersHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="topusers">
      <wsdl:input message="tns:topusersHttpPostIn" />
      <wsdl:output message="tns:topusersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Showusers">
      <wsdl:input message="tns:ShowusersHttpPostIn" />
      <wsdl:output message="tns:ShowusersHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="topusers">
      <soap:operation soapAction="http://microsoft.com/webservices/topusers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Showusers">
      <soap:operation soapAction="http://microsoft.com/webservices/Showusers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="topusers">
      <soap12:operation soapAction="http://microsoft.com/webservices/topusers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Showusers">
      <soap12:operation soapAction="http://microsoft.com/webservices/Showusers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="topusers">
      <http:operation location="/topusers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Showusers">
      <http:operation location="/Showusers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="topusers">
      <http:operation location="/topusers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Showusers">
      <http:operation location="/Showusers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://thionline.saigonact.edu.vn/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://thionline.saigonact.edu.vn/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
      <http:address location="http://thionline.saigonact.edu.vn/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="http://thionline.saigonact.edu.vn/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>